body{
    background-color: #d90000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239c5a52'/%3E%3Cstop offset='1' stop-color='%23d90000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23ff6363' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ff6363' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
h1{
    text-align: center;
    color: white;
    font-size: 280%;
    border: #006600 .3rem groove;
}
table{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}
td{
    border: #006600 .3rem groove;
}
p{
    text-align: center;
    color: white;
    font-size: 140%;
}
a{
    color: white;
}
img{
    border: #006600 .3rem groove;
}
#id1{
    font-size: 180%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#id2{
    position: relative;
    float: left;
    left: 1rem;
    top: 3rem;
    border: none;
}
#id3{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#id4{
    position: relative;
    float: right;
    right: 1rem;
    top: 3rem;
    border: none;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
#media{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 48rem;
}
#social{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 15rem;
  height: 10rem;
  border: none;
}
h4{
  text-align: center;
  color: white;
  font-size: 1.7rem;
}
#icon{
  position: relative;
  float: left;
  left: 1rem;
  width: 20rem;
  height: 15rem;
  bottom: 3rem;
}
#icon1{
  position: relative;
  float: right;
  left: -1rem;
  width: 20rem;
  height: 15rem;
  bottom: 3rem;
}
#icon2{
  position: relative;
  float: left;
  left: 1rem;
  width: 20rem;
  height: 15rem;
  bottom: 20rem;
}
#icon3{
  position: relative;
  float: right;
  left: -1rem;
  width: 20rem;
  height: 15rem;
  bottom: 20rem;
}
h2{
  text-align: center;
  color: white;
  font-size: 2rem;
}
#port{
  width: 25rem;
  height: 15rem;
  position: relative;
  float: left;
  left: 10rem;
  bottom: 10rem;
}
.clear{
  clear: left;
}
#footer{
  font-size: 1.5rem;
  border: none;
}

